main {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section {
    width: 100%;
}

/* .compte {
    display: flex;
    flex-direction: column;
} */

.compte div{
    /* display: flex; */
	flex-direction: row;
    align-items: center;
}

.compte div h3{
    margin-left: 5%;
    margin-right: 10px;
    font-weight: bold;
}

.compte div h4 {
    display: flex;
    justify-content: center;
}


.fancy {
    background-color: transparent;
    border: 2px solid #22223B;
    border-radius: 0;
    box-sizing: border-box;
    color: #9A8C98;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
    margin-right: 10%;
    margin-bottom: 5%;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #22223B;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #22223B;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #9A8C98;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #9A8C98;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #9A8C98;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: #22223B;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }


   img {
    max-width: 180px;
  }
  
  table {
      width: 100%;
  }
  
  .tab {
      margin: 2%;
  }
  
  .tab td {
    text-align: center;
  }
  
  table,
  td {
      border: 1px solid #22223B;
  }
  
  thead,
  tfoot {
      background-color: #4A4E69;
      color: #fff;
  }
  
  th:nth-child(1) {
      width: 1%;
    }

    th:nth-child(2) {
        width: 25%;
      }
    
    th:nth-child(3) {
      width: 50%;
    }
    
    th:nth-child(4),
    th:nth-child(5) {
      width: 12%;
    }

    .supprimer {
        width: 15px;
        margin-top: 2px;
      }
      
      .supprimer:hover {
        cursor: pointer;
        width: 18px;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      input[type="number"] {
          -moz-appearance: textfield;
          appearance: textfield;
      }
    
      .quantity-container {
       position: relative;
     }
     
     .quantity-controls button {
       border: none;
       background-color: #fff8f5;
       color: #22223B;
       cursor: pointer;
       font-weight: 900;
     }
     
     .quantity-input {
       border: none;
       outline: none;
       border-radius: 15px;
       background-color: #F2E9E4;
       box-shadow: inset 2px 5px 10px rgba(0,0,0,0.2);
       transition: 300ms ease-in-out;
       color: #22223B;
       width: 3rem;
       padding: 0.25rem;
       text-align: center;
       width: 2.5rem;
       padding: 0.125rem;
       font-weight : 900;
     }