nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 1%;
	padding: 0 1%;
}

nav a {
	color: #22223B;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

nav a:hover {
	background-color: #4A4E69;
	color: #F8F8F8;
}

nav div {
	display: flex;
	align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

nav div:last-child {
    margin-right: 0;
}